<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycle Departures and Arrivals</title>
    <style>
        .container {
            display: flex;
            justify-content: space-around;
            padding: 10px;
        }

        .page {
            width: 45%;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #151B20;
            color: #ffffff;
        }

        .image-ic {
            height: 75px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="departures" class="page">
        <img src="/deps.png" alt="arr" class="image-ic"/>
        <ul>
            <% departures.forEach(function(flight) { %>
                <li><%= flight.callsign %> - <%= flight.departure.city %> to <%= flight.arrival.city %></li>
            <% }); %>
        </ul>
    </div>
    <div id="arrivals" class="page">
        <img src="/arrs.png" alt="arr" class="image-ic"/>
        <ul>
            <% arrivals.forEach(function(flight) { %>
                <li><%= flight.callsign %> - <%= flight.departure.city %> to <%= flight.arrival.city %></li>
            <% }); %>
        </ul>
    </div>
</div>
</body>
</html>